body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

section{
    flex: 1;
    /* height: 100vh; */
}

.hero-section{
    display: flex;
    justify-content: space-evenly;
    background-color: #e0ecfa;
    height: 100vh;
}

.hero-left-sec{
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    gap: 40px;
}

.hero-hdg{
    font-size: 6rem;
    /* font-weight: bold; */
    text-transform: capitalize;
    color: #254b83;
    letter-spacing: 2px;
    /* text-align: center; */
}

.hero-left-content button{
    width: 230px;
    height: 70px;
    border-radius: 8px;
    background-color: #e7531c;
    color: white;
    border: none;
    font-size: 1.5rem;
    text-transform: capitalize;
    /* text-align: center; */
}

.hero-right-sec{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-right-sec img{
    object-fit: cover;
}

.secound-sec{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #e0ecfa;
}

.secound-left-sec{
    display: flex;
    justify-content: center;
}

.secound-right-sec{
    color: #254b83;
}

.secound-right-hdg{
    font-size: 5rem;
    text-transform: capitalize;
}

.secound-right-content{
    font-size: 2rem;
}

.third-sec{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #e7531c;
    gap: 70px;
}

.third-left-sec{
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
}

.third-hdg{
    font-size: 3rem;
    color: white;
    text-transform: capitalize;
    position: absolute;
    top: 0;
}

.third-left-sec img{
    padding-top: 100px;
    width: 500px;
    height: 550px;
    object-fit: contain;
    z-index: 1;
}

.third-right-sec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.right-boxes-cnt{
    background-color: white;
    width: 600px;
    border-radius: 12px;
    position: relative;
    padding: 10px;
}

.right-boxes-cnt span{
    font-size: 2rem;
    text-transform: capitalize;
    color: #254b83;
    font-weight: bold;
}

.right-boxes-cnt p{
    font-size: 1rem;
    color: #254b83;
    text-transform: capitalize;
}

.right-boxes-cnt img{
    width: 150px;
    height: 150px;
    position: absolute;
    left: -35px;
    top: -35px;
}

.third-bulb{
    transform: rotateZ(330deg);
}

.fourth-sec{
    display: flex;
    flex-direction: column;
    background-color: #e0ecfa;
    gap: 100px;
}

.fourth-hdg{
    font-size: 4rem;
    text-align: center;
    color: #254b83;
}

.fourth-content-sec{
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    justify-content: space-evenly;
    /* flex: 1; */
}

.fourth-boxes{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.fourth-box-img{
    background-color: #e7531c;
    /* position: relative; */
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fourth-box-img img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 275px;
    height: 275px;
}

.fourth-box-img .fourth-whistle{
    width:375px;
    height: 375px;
}

.fourth-box-img .fourth-trophy{
    transform: rotateZ(330deg);
}

.fourth-box-cnt{
   color: #254b83;
}

.fourth-box-cnt span{
    font-size: 2rem;
    display: flex;
    justify-content: center;
}

.fourth-box-cnt p{
    text-align: center;
}

.fifth-sec{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:#e0ecfa ;
}

.fifth-left-sec{
    /* flex: 1; */
    color: #254b83;
}

.fifth-hdg{
    font-size: 3rem;
    text-transform: capitalize;

}

.fifth-content{
    font-size: 2rem;
}

.fifth-right-sec img{
    width: 600px;
    height: 600px;
    object-fit: cover;
}

.sixth-sec{
    background-color: #e7531c;
    height: 100vh;
}

.sixth-hdg{
    font-size: 4em;
    color: white;
    text-align: center;
}

.sixth-content{
    background-color: white;
    margin: 30px;
    border-radius: 12px;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

/* .sixth-left-sec{
flex: 1;
} */

.sixth-left-sec ul li{
    font-size: 2em;
    color: #254b83;
    padding: 5px;
    text-transform: capitalize;
}

.sixth-right-sec{
    display: flex;
        justify-content: center;
        align-items: center;
}

.sixth-right-sec img{
    width: 400px;
    height: 400px;
}

.seven-section{
    background-color:#e0ecfa ;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.seven-left-sec span{
    font-size: 4em;
    color: #254b83;
}

.seven-left-sec p{
    font-size: 1.5em;
    color: #254b83;
}

.seven-right-sec{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.seven-img-column img{
   width: 120px;
   height: 120px;
   padding: 5px;
}




@media screen and (max-width:767px){
    .hero-section{
        flex-direction: column;
        gap: 10px;
        padding: 10px;
    }

    .hero-left-content{
        text-align: center;
    }

    .hero-right-sec img {
        width: 350px;
        height: 350px;
    }

    .secound-sec{
        flex-direction: column;
        padding: 10px;
    }

    .secound-left-sec img{
        width: 350px;
            height: 350px;
    }

    .third-sec{
        flex-direction: column;
        gap: 10px;
    }

    .right-boxes-cnt{
        width: 300px;
    }

    .right-boxes-cnt img{
        width: 100px;
        height: 100px;
    }

    .fourth-hdg{
        font-size: 3rem;
    }

    .fourth-content-sec{
        flex-direction: column;
    }

        .fifth-sec {
            flex-direction: column;
        }

                .fifth-right-sec img{
                    width: 300px;
                    height: 300px;
                }

        .fifth-left-sec{
            text-align: center;
        }

                .sixth-content {
                    flex-direction: column;
                }

                .sixth-left-sec ul li{
                    font-size: 0.8em;
                }

                .sixth-right-sec img{
                    width: 300px;
                    height: 300px;
                }

                                .seven-img-column img {
                                    width: 100px;
                                    height: 100px;
                                
                                }

                                .seven-section{
                                    flex-direction: column;
                                }
}

@media screen and (min-width:768px) and (max-width:1023px){
    /* .hero-right-sec img {
        width: 400px;
        height: 400px;
        } */

        .hero-section{
            flex-direction: column;
        }

        .hero-left-sec{
            text-align: center;
        }

        /* .secound-right-content{
            font-size: 1rem;
        }

        .secound-right-hdg{
            font-size: 3rem;
        } */

        .secound-sec{
            flex-direction: column;
        }

        /* .third-left-sec img{
            width: 300px;
        } */

        .third-sec{
            flex-direction: column;
        }


   .fourth-content-sec {
    flex-direction: column;
   }

   .fifth-sec{
    flex-direction: column;
   }

   .sixth-content{
    flex-direction: column;
   }

 .seven-section {
     flex-direction: column;
 }
}